@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: rgb(39 39 42);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: 0;
}

:focus {
    outline: 0;
    /* box-shadow: 0 0 0 2px var(--purple) */
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}
